.cabeçalho__menu-hamburger{
    width: 24px;
    height: 24px;
    background-image: url("../imagens/Menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--azul-degrade);

}

.cabeçalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container{
    display: flex;
    align-items:center;
    
}

.container__imagem{
    padding: 1em;

}

.lista-menu{
    display: none;
    position: absolute;
    top:100%;
    width: 65vw;
    
}

.container__botao:checked ~ .lista-menu{
    display: block;
    
}

.lista-menu__titulo,.lista-menu__item{
    padding: 1em;
    background: var(--branco);
}

.lista-menu__titulo{
    color: var(--laranja);
    font-family: var(--fonte1);
    font-weight: 700;  
    font-style: normal;
}

.lista-menu__link{
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
    font-family: var(--fonte1);
    font-weight: 400;  
    font-style:normal;
}
.cabeçalho__titulo, .opçoes{
    display: none;
}

.container__botao{
    display: none;
}

.container__texto{
    display: none;
}

.container__botao:checked ~ .container__rotulo > .cabeçalho__menu-hamburger{
    background: url(../imagens/Menu\ Aberto.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--azul-degrade);
}

.container__botao:checked ~ .container__rotulo {
    background: var(--azul-degrade);
}


@media screen and (min-width:1024px) {

    .cabeçalho__titulo, .cabeçalho__titulo--negrito{
        font-family: var(--fonte2);
        font-size: 30px;
        padding-left: 0.3em ;
        padding-top: 0.5em;

    }
    .cabeçalho__titulo{
        display: block;
        font-size: 28px;
        font-weight: 400;
    }
    .cabeçalho__titulo--negrito{
        font-weight: 700;
    }
    .opçoes{
        display: flex;
        gap: 1em;
        
    }
    .opçoes__item{
        text-transform: uppercase;
        padding: 0 1em;
    }
    .opçoes__link{
        text-decoration: none;
        color:var(--preto);
        
    }

    .imagens-menu{
        padding-right:1.5em;
        gap:1.5em;
    }

    .container__imagem-transparente, .cabeçalho__menu-hamburger, .opçoes-botao{
        display: none;
    }
    .opçoes-botao:checked ~.lista-menu{
        display: block  ;
        width: auto;
        align-self: center;
    }
    .logo-cabeçalho{
        padding-left: 1em;
    }
    .opçoes-botao:checked ~ .opçoes__rotulo > .opçoes__item {
        background: var(--azul-degrade);
        color: var(--branco);
        
    }
    .opçoes__item{
        padding: 2em 2em;
        gap:0;
        
    }
    .lista-menu__item:hover{
        background: var(--azul-degrade);
        border-bottom: 5px solid var(--cinza-claro);
    }
    .lista-menu__item:hover > .lista-menu__link{
        /* usei assim pq pra aplicar a cor azul la na fonte tive q usar o webkit, e so assim pra alterar para branco */
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }
    .opçoes__item:hover{
        background: var(--azul-degrade);
        color: var(--branco);
        

    }
    .opçoes__item:hover > .opçoes__link{
        color: var(--branco);
    }
    .container__texto:hover{
        text-decoration:underline;
    }
    
}


@media screen and (min-width:1440px) {
    .container__link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }
    .cabeçalho{
        padding: 0 2em;
    }

    .opçoes{
        margin-right: auto;
        padding-left: 2em;
    }

    .cabeçalho__titulo{
        padding-left: 0;
    }
    .container__texto{
        display: block;
    }
}



